@page "/cryptography-details"
@rendermode InteractiveServer

<PageTitle>Cryptography Details</PageTitle>

<div class="container mt-4">
    <h2>Cryptography Details</h2>
    <!-- I personally dont like the way this looks so
    <div class="card">
        <div class="card-body"> -->
    <dt class="col-sm-4">Algorithm</dt>
    <dd class="col-sm-8">AES-256</dd>

    <dt class="col-sm-4">Key Size</dt>
    <dd class="col-sm-8">256 bits</dd>

    <dt class="col-sm-4">Block Size</dt>
    <dd class="col-sm-8">128 bits</dd>

    <dt class="col-sm-4">Mode</dt>
    <dd class="col-sm-8">CBC (Cipher Block Chaining)</dd>

    <dt class="col-sm-4">Padding</dt>
    <dd class="col-sm-8">PKCS7</dd>

    <dt class="col-sm-4">Key Derivation</dt>
    <dd class="col-sm-8">PBKDF2 with HMAC-SHA256</dd>

    <dt class="col-sm-4">Iterations</dt>
    <dd class="col-sm-8">1,000,000</dd>

    <dt class="col-sm-4">Salt Size</dt>
    <dd class="col-sm-8">256 bits (32 bytes)</dd>

    <dt class="col-sm-4">IV</dt>
    <dd class="col-sm-8">128 bits (16 bytes), random per file</dd>
</div>